
<h1>Stupid Coaching</h1>
<div style ="background-color: green">
<p><%= @answer %></p>
<h2>-You</h2>
</div>
<br>
<br>
<div style ="background-color: yellow">
<p><%= @coach_reply %></p>
<h2>-Coach</h2>
</div>
<%= link_to "ask another question", ask_path %>
